html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
  body{
      background-color: #1ae8cf;
  }

  #libraryContainer {

    margin-top: 270px;
    padding: 0;
    width: 100%;
    /* background-color: #60efdd; */
    background-color:  #8ff4e7;
   
}
#libraryText{
    margin:10px;
    float: left;
    font-size: 70px;
    font-weight: 900;
    color: white;
    margin-top:30px;
    margin-left:30px;
}
#logo{
    margin:10px;
    border-radius: 20px;
    border: solid #1ae8cf 2px; 
    height:110px;
    float: left;
    margin-left:70px;
}

#BookList {
    float: left;
    margin-top:30px;
    text-align: center;
}

.arrowsl {
    /* height: 150px; */
    /* margin-left:10px;
    margin-right: 10px; */
    box-shadow: 10px 10px;
    background-color: gray;
    border-radius: 500px;

}

.book{
    margin:10px;
    height:180px;
    width:240px;
    border: solid white 5px; 
    margin-bottom:30px;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.7);
}

.carousel-control-prev{
    width:130px;   
    height:70px;
   opacity: 1;
   z-index:99;
  
  margin-left:-70px;
  margin-top:190px;
}
.carousel-control-next{
    width:130px;   
    height:70px;
   opacity: 1;
   z-index:99;
  
  margin-right: -70px;
  margin-top:190px;
  
}

.arrowsl {
	background-color: #75c700;
    padding:20px;
    width:120px;
    height:100px;
	position:relative;
	font-family: 'Open Sans', sans-serif;
	font-size:12px;
	text-decoration:none;
	color:#fff;
	background-image: linear-gradient(bottom, rgb(100,170,30) 0%, rgb(129,212,51) 100%);
	box-shadow: inset 0px 1px 0px #b2f17f, 0px 6px 0px #3d6f0d;
    border-radius: 900px;
    margin-bottom: 50px;
}

.arrowsl:active {
	top:7px;
	background-image: linear-gradient(bottom, rgb(100,170,30) 100%, rgb(129,212,51) 0%);
	box-shadow: inset 0px 1px 0px #b2f17f, inset 0px -1px 0px #3d6f0d;
	color: #156785;
	text-shadow: 0px 1px 1px rgba(255,255,255,0.3);
	background:  #75c700;
}

.arrowsl::before {
	background-color:#072239;
	content:"";
	display:block;
	position:absolute;
	width:100%;
	height:100%;
	padding-left:2px;
	padding-right:2px;
	padding-bottom:4px;
	left:-2px;
	top:5px;
	z-index:-1;
	border-radius: 6px;
	box-shadow: 0px 1px 0px #fff;
}

.arrowsl:active::before {
	top:-2px;
}